# Ignore everything by default
*

# Don't ignore directories (so we can look inside them, for other files)
!*/

versions

# Don't ignore these
!*.yaml
!*.md
!*.java
!Dockerfile*
!*.yml
!*.html
!*.json
!*.sh
!.gitattributes
!.gitignore
!Makefile
