# Ignore everything by default
*

# Don't ignore directories (so we can look inside them, for other files)
!*/

# Don't ignore these
!*.yaml
!*.md
!*.java
!Dockerfile*
!*.yml
!*.json
!*.sh
!.gitattributes
!.gitignore
